@keyframes goAway {
  from {
    transform: none;
    opacity: 1;
  }
  to {
    transform: translateY(-50px);
    opacity: 0;
  }
}

.message {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 200px;
  padding: 10px 20px;
  border-radius: 10000px;
  text-align: center;
  animation: goAway 0.5s ease-in-out forwards;
  animation-delay: 2s;
}

.message.error {
  background-color: tomato;
  color: white;
}

.message.success {
  background-color: rgb(21, 86, 207);
  color: white;
}

body {
  margin-left: 5%;
  margin-top: 200px;
}

header {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  margin-left: 30px;
  font-size: 14px;
  font-weight: 600;
}
