.login__div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__form {
  margin-top: 20px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

a {
  margin-top: 20px;
  display: block;
  text-align: center;
}
