:root {
  --board-title: 300px;
  --board-date: 200px;
  --board-auth: 150px;
  --board-num: 50px;
  --board-width: calc(
    var(--board-num) + var(--board-title) + var(--board-auth) +
      var(--board-date)
  );
}

.board {
  width: var(--board-width);
  margin-top: 50px;
  margin-left: 100px;
}

.board__main__set,
.board__set {
  margin-bottom: 10px;
  width: var(--board-width);
  display: flex;
}

.board__main__num,
.board__num {
  width: var(--board-num);
  text-align: center;
}

.board__main__title,
.board__title {
  width: var(--board-title);
  padding-left: 10px;
}

.board__main__auth,
.board__auth {
  text-align: center;
  width: var(--board-auth);
}

.board__main__date,
.board__date {
  text-align: center;
  width: var(--board-date);
}

.board__main__set {
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.board__main__title {
}
.board__main__auth {
}
.board__main__date {
}

.board__pagebar {
  margin-top: 23px;
  text-align: center;
}

.board__pagebar a {
  margin-left: 5px;
}

.board__nav {
  width: var(--board-width);
  height: 20px;
  margin-top: 20px;
  position: relative;
}

.uploadBtn {
  padding: 5px 10px;
  color: white;
  background-color: rgb(34, 182, 83);
  position: absolute;
  right: 10px;
}

.post__range {
  position: absolute;
}

.post__range select {
  width: 80px;
  text-align: center;
  font-size: 15px;
}
