:root {
  --board-width: 500px;
  --board-date: 200px;
}

.post__set {
  margin-top: 50px;
  margin-left: 100px;
  margin-bottom: 300px;
  width: var(--board-width);
}

.post__title {
  --board-width: 500px;
  font-size: 40px;
}

.post__info {
  width: var(--board-width);
  font-size: 15px;
  margin-top: 15px;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
  display: flex;
  position: relative;
}

.post__auth {
}

.post__date {
  margin-left: 10px;
  width: var(--board-date);
}

.post__content {
  margin-top: 10px;
  width: var(--board-width);
}

.post__delete {
  cursor: pointer;
  position: absolute;
  right: 10px;
}

.post__update {
  position: absolute;
  right: 80px;
}
