.profile {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.profile h2 {
  text-align: center;
}

.profile__username {
}

.profile__name {
}

.profile__postlist {
}

.profile__nav {
}

.profile__edit {
  padding: 3px 8px;
  background-color: silver;
  border-radius: 10px;
}

.profile__delete {
  padding: 3px 8px;
  background-color: silver;
  border-radius: 10px;
  cursor: pointer;
}
