.signup__div {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signup__form {
  margin-top: 20px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
