.post__div h2 {
  text-align: center;
}
.post__form {
  margin-top: 20px;
}

.post__form label {
  display: inline-block;
  width: 60px;
}

.post__form .title__input {
  width: 80%;
}

.post__form .content input {}
	ㅔㅐㄴㄱ
  margin-top: 20px;
  height: 300px;
  width: 80%;
}
